{% extends "::base.html.twig" %}

{% block title %}bibliotecaBundle:Acervo:add{% endblock %}

{% block body %}

    <a href="{{ path('new') }}">Novo</a>
    <a href="{{ path('showAtivos') }}">Ativos</a>
    <a href="{{ path('show') }}">Mostrar</a>

    <h1>Titulo jรก existe</h1>

{% endblock %}
